@font-face {
  font-family: 'Century Gothic';
  src: url(../static/CenturyGothic.ttf);
}

.Icare {
  font-family: sans-serif;
  background-color: #263238;
  height: 100vh;
  /* text-align: center; */
}

.icare-bottom {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.icarecls-1{fill:#6d6d6d;}.icarecls-2{fill:#fff;}.icarecls-3{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:15px;}.icarecls-4{font-family:'Century Gothic';transition:font-size,0.35s;font-size:43.57px;font-weight:700;}

.icarecls-4:hover {
  font-size: 46px;
  cursor: pointer;
}

.hamburger {
  position: fixed;
  width: 7vw;
  right: 2vw;
  top: 2vh;
  cursor: pointer;
  transition: width 0.15s, right 0.15s, top 0.15s;
}

.hamburger:hover {
  width: 7.2vw;
  right: 1.9vw;
  top: 1.9vh;
}
