@font-face {
  font-family: 'Century Gothic';
  src: url(../static/CenturyGothic.ttf);
}

@font-face {
  font-family: 'YouthTouchDEMO-Regular';
  src: url(../static/youthtouch.ttf);
}

.Icare {
  font-family: sans-serif;
  background-color: #263238;
  height: 100vh;
  /* text-align: center; */
}

.icare-bottom {
  position: absolute;
  bottom: 10vh;
  width: 76vw;
  left: 12vw;
}

.icarecls-1 {
  fill: #6d6d6d;
}

.icarecls-2 {
  fill: #fff;
}

.icarecls-3 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 15px;
}

.icarecls-4 {
  font-size: 37.73px;
  font-family: CenturyGothic-Bold, Century Gothic;
  font-weight: 700;
}

.icarecls-4:hover {
  font-size: 39px;
  cursor: pointer;
}

.icaremcls-1{fill:#545454;}
.icaremcls-2{fill:#fff;}
.icaremcls-3{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:20px;}
.icaremcls-4{font-size:46.37px;font-family:CenturyGothic-Bold, Century Gothic;font-weight:700;}

.icare-bottom-m {
  position: absolute;
  width: 80vw;
  bottom: 0;
  left: 10vw;
}

.hamburger {
  position: fixed;
  width: 7vw;
  right: 2vw;
  top: 2vh;
  cursor: pointer;
  transition: width 0.15s, right 0.15s, top 0.15s;
}

.hamburger:hover {
  width: 7.2vw;
  right: 1.9vw;
  top: 1.9vh;
}

.w3-modal-content {
  width: 70vw !important;
  padding: 2vh;
  padding-bottom: 4vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icare-modal-content {
  background-color: #263238;
  max-height: 82vh;
  background-size: cover;
  width: 70vw;
  padding: 2vh;
  padding-bottom: 4vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 15vw;
}

.icare-modal-content {
  overflow-x: auto;
}

.w3-modal-content h2 {
  padding-top: 1.8vh;
  margin-top: 0px;
}

.w3-display-topright {
  padding-right: 2vw;
  padding-top: 4vh;
  cursor: pointer;
}

.icare-modal-para {
  font-family: CenturyGothic-Bold, Century Gothic;
  font-size: 1.5em;
  color: white;
}

.icare-modal-heading {
  font-size: 6em;
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
  color: white;
}

.mobile-icare{
  display:none;
}

@media only screen and (max-width: 600px) {
  .hamburger {
    width: 20vw;
  }

  .w3-button {
    color: black;
  }

  .icare-modal-content {
    margin-left: 5vw;
    width: 90vw;
    height: 90vh;
  }

  .mobile-icare{
    display:block;
  }
}
