.tilt-root{
  background-image: url('../static/neon-bg.png');
  transform-style: preserve-3d;
  will-change: transform;
  justify-content: center;
  align-items: center;
  height: 100vh;
	background-size: cover;
}

.coconut{
  z-index: 50;
  position: absolute;
  height: 300px;
  width:250px;
  top: 40%;
  left: 65%;
}

.coconut2{
  z-index: 50;
  position: absolute;
  height: 500px;
  width:300px;
  top: 0%;
  left: 23%;
}

.coconut3{
  z-index: 5;
  position: absolute;
  height: 600px;
  width:250px;
  top: 5%;
  left: 30%;
}

.coconut4{
  z-index: 50;
  position: absolute;
  height: 200px;
  width:150px;
  top: 40%;
  left: 25%;
}

.stage{
  margin-top: -8%;
  width: 1900px;
  height: 800px;
}
