.tilt-root{
  background-image: url('../static/neon-bg.png');
  transform-style: preserve-3d;
  will-change: transform;
  justify-content: center;
  align-items: center;
  height: 100vh;
	background-size: cover;
}

.rightprop{
  position: absolute;
  top:55vh;
  left: 70vw;
  width: 18vw;
  transform: translateZ(150px);
}

.leftprop{
  position: absolute;
  top:60vh;
  left: 10vw;
  width: 14vw;
  transform: translateZ(150px);
}

.neon-logo-tryst {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  cursor: pointer;
  /* transform: translateZ(300px); */
}

@media only screen and (max-width: 600px) {
  .tilt-root {
    padding-top: 20vh;
  }

  .neon-logo-tryst {
    width: 25vw;
  }

  .rightprop{
    position: absolute;
    top:60vh;
    left: 70vw;
    width: 25vw;
    transform: translateZ(150px);
  }
  
  .leftprop{
    position: absolute;
    top:65vh;
    left: 15vw;
    width: 16vw;
    transform: translateZ(150px);
  }
}
