
.player-wrapper{
    /* box-shadow: 3px 3px 5px 6px rgb(110, 28, 131); */
    width: 650px;
    height: 70vh;
    z-index: 100;
    margin: auto;
}

@media only screen and (max-width: 500px){
    body{
        overflow: hidden;
    }
    .player-wrapper{
        width: 380px;
        height: 45vh;
    }

    .react-player{
        width: 100%;
        height: 100%;
    }
}
