.Sponsors-content{
  background-image: url("../Sponsors/sponsors_images/bg.jpg");
  
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation-delay: 2s;
}
.hideme
{
    opacity:0;
}