* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
}

.AboutBackground{
  font-family: helvetica, arial, sans-serif;
  background-image: url(../static/aboutbg.jpg);
  height: 100vh;
  overflow: hidden;
}

.projector-about {
  height: 95vh;
  position: absolute;
  right: 5vw;
  bottom: 0;
}

.about-heading {
  color: white;
  font-size: 7.5em;
  font-family: 'Lobster', cursive;
  padding-left: 3vw;
  margin-top: 13vh;
  line-height: 1.2;
}

.about-m {
  position: absolute;
  width: 90vw;
  left: 5vw;
  bottom: 2vh;
}

@media only screen and (max-width: 600px) {
  .about-heading {
    font-size: 4em;
    margin-top: 9vh;
  }
}
