.contact {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.contact-logo {
  width: 15vw;
}

.grid-container {
  margin: 2vh 8vw 2vh 8vw;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  color: #616161;
  letter-spacing: 0.1vw;
  font-size: calc(1rem + 0.1vw);
  font-family: "Lato", sans-serif;
  border: 1px solid #000000;
  border-radius: 5px;
}
.card1,
.card2 {
  text-align: center;
  margin-bottom: 20px;
}

.fa {
  padding: 20px;
  font-size: 2.2em;
  text-align: center;
  text-decoration: none;
  color: #616161;
}

.fa:hover {
  color: #000;
}

.social-cls-2 {
  font-size: 25px;
  font-family: Amarillo, Amarillo;
  color: #ef83ff;
}

.cls-1 {
  isolation: isolate;
}

.cls-2 {
  opacity: 0.81;
  mix-blend-mode: screen;
}

.cls-3 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 0.75px;
}

.mail-link {
  color: #616161;
}

.mail-link:hover {
  color: #000;
}
