.contact {
  text-align: center;
  font-family: "Lato", sans-serif;
  height: 100vh;
  background-image: url(./aboutbg1.png);
  background-size: contain;
}

.contact-logo {
  width: 15vw;
}

.grid-container {
  margin: 2vh 8vw 2vh 8vw;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  color: #424242;
  font-size: calc(1rem + 0.1vw);
  border: 5px solid #424242;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9)
}
.card1,
.card2 {
  text-align: center;
  margin-bottom: 20px;
}

.social-contact {
  padding: 20px;
  font-size: 2.4em !important;
  text-align: center;
  text-decoration: none;
  color: #424242;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 2.4em;
  height: 2.2em;
  margin-right: 5px;
}

.social-contact:hover {
  color: #000;
}

.social-cls-2 {
  font-size: 25px;
  font-family: Amarillo, Amarillo;
  color: #ef83ff;
}

.cls-1 {
  isolation: isolate;
}

.cls-2 {
  opacity: 0.81;
  mix-blend-mode: screen;
}

.cls-3 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 0.75px;
}

.mail-link {
  color: #424242;
}

.mail-link:hover {
  color: #424242;
}
