@font-face {
  font-family: 'YouthTouchDEMO-Regular';
  src: url(../static/youthtouch.ttf);
}

.event-category-img {
  height: 35vh;
}

.events-bottom-carousel {
  position: absolute;
  bottom: 30vh;
  height: 40vh;
  padding: 0px;
  width: 80vw;
  left: 10vw;
}

.event-card-wrapper {
  background-color: white;
  border-radius: 20px;
  padding: 3vh 1vw;
  margin-left: 5px;
}

.event-card-wrapper h1 {
  font-family: 'Lato', cursive !important;
}

.events-modal-content {
  max-height: 82vh;
  background-size: cover;
  width: 70vw;
  padding: 2vh;
  padding-bottom: 4vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 15vw;
  overflow: hidden;
}

.events-wrapper {
  height: 100vh;
  background-image: url('eventsbg.jpg');
  overflow:hidden !important;
}

.events-modal-heading {
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
  font-size: 6.5em;
  color: white;
}

.events-list-wrapper {
  height: 65vh;
  overflow-y: scroll;
}

.events-modal-content ol {
  font-size: 2em;
  color: white;
}

.events-modal-content li h1 {
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
  font-size: 2.5em;
  margin-bottom: 0px;
}

.events-modal-content p {
  font-size: 0.8em;
  color: white;
}

.events-heading {
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
  color: white;
  text-align: center;
  padding-top: 8vh;
  font-size: 8em;
  margin-top: 0px;
}

#events-0 .events-modal-content {
  background-image: url('dancebg.jpg');
}

#events-1 .events-modal-content {
  background-image: url('dancebg.jpg');
}

#events-2 .events-modal-content {
  background-image: url('musicbg.jpg');
}

#events-3 .events-modal-content {
  background-image: url('litbg.jpg');
}

#events-4 .events-modal-content {
  background-image: url('bizbg.jpg');
}

#events-5 .events-modal-content {
  background-image: url('fineartsbg.jpg');
}

#events-6 .events-modal-content {
  background-image: url('hautebg.jpg');
}

#events-7 .events-modal-content {
  background-image: url('sportsbg.jpg');
}

#events-8 .events-modal-content {
  background-image: url('theatrebg.png');
}

#events-9 .events-modal-content {
  background-image: url('beachbg.jpg');
}

#events-10 .events-modal-content {
  background-image: url('litbg.jpg');
}

#events-11 .events-modal-content {
  background-image: url('techobytebg.jpg');
}

#events-12 .events-modal-content {
  background-image: url('multicitybg.jpg');
}

#events-13 .events-modal-content {
  background-image: url('specialbg.png');
}

#events-14 .events-modal-content {
  background-image: url('talksbg.jpg');
}

#popup{
  position: absolute;
  z-index: 9999;
  background-color:white;
  top: 8vh;
  left: 7.5vw;
  width: 70vw;
  padding-left: 15px;
}

#popup2{
  position: absolute;
  z-index: 9999;
  background-color:white;
  top: 8vh;
  left: 7.5vw;
  width: 70vw;
  padding-left: 15px;
}

.popup{
  position: absolute;
  z-index: 9999;
  background-color:white;
  top: -4vh;
  left: 7.5vw;
  width: 70vw;
  height: 95vh;
  overflow-y: scroll;
  padding-left: 15px;
  padding-top: 15px;
}

.closepop{
  position: absolute;
  top: 0vh;
  left: 100%;
  z-index: 10000;
  background-color:red;
  font-weight: bold;
  color:white;
  border: solid 2px red;
  border-radius: 5px;
  cursor: pointer;
}

.closepop2{
  position: absolute;
  top: 0vh;
  left: 90%;
  z-index: 10000;
  background-color:red;
  font-weight: bold;
  color:white;
  border: solid 2px red;
  border-radius: 5px;
  cursor: pointer;
}

.agree{
  background-color: rgb(37, 194, 23);
  color: white;
  font-weight: bold;
  text-align: center;
  border:solid 2px rgb(37, 194, 23);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.point{
  margin-bottom: 10px;
}

#register{
  margin-right: 15px;
}

div#pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 100%;
  z-index:10000000;
}

.reg-but{
  position: relative;
  margin-left: 100px;
}

.reg-but2{
  position: relative;
  margin-left: 15px;
}

.litpourri-wrapper {
  background-color: #FAE6B9;
  color: #263238;
}

.litpourri-wrapper h1 {
  margin: 0;
  padding-top: 7vh;
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
  font-size: 7em;
  color: #263238;
}

.litpourri-wrapper p {
  font-size: 2em;
  color: #263238;
  font-family: 'Bree Serif', serif;
}

.litpourri-wrapper p i {
  font-weight: 400;
}

.litpourri-wrapper h2 {
  font-size: 6em;
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
}

.litpourri-btn {
  color: #FAE6B9;
  cursor: pointer;
}

.litpourri-top {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.litpourri-modal-content {
  background-color: #263238;
  color: #FAE6B9;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
}

.litpourri-modal-content li {
  font-size: 2em;
}

.litpourri-img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .events-bottom-carousel {
    width: 90vw;
    left: 5vw;
  }

  .event-card-wrapper {
    margin: 0px;
  }

  .event-category-img {
    height: 30vh;
  }

  .w3-modal-content {
    width: 90vw !important;
  }

  .events-modal-content {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 5vw;
    width: 90vw;
    height: 90vh;
  }

  .events-modal-content li h1 {
    font-size: 1.5em;
  }

  .events-modal-content p {
    font-size: 0.6em;
  }

  .events-list-wrapper {
    height: 75vh;
  }

  .events-modal-heading {
    font-size: 3.5em;
  }

  .popup{
    position: absolute;
    z-index: 9999;
    background-color:white;
    top: -7vh;
    left: 7.5vw;
    width: 70vw;
    height: 95vh;
    overflow-y: scroll;
    padding-left: 15px;
    padding-top: 15px;
  }

  #register{
    margin-right: 15px;
    margin-bottom: 25px
  }

  .openpop{
    margin-right: 100px;
  }

  .reg-but{
    margin-left:0px;
    margin-right: 100px;
  }

  .litpourri-wrapper p {
    font-size: 1.5em;
  }

  .litpourri-btn {
    margin-top: 2vh;
  }

  .litpourri-modal-content li {
    font-size: 1.5em;
  }

  .litpourri-img {
    margin-top: 0vh;
  }
}
