@font-face {
  font-family: 'YouthTouchDEMO-Regular';
  src: url(../static/youthtouch.ttf);
}

.event-category-img {
  height: 35vh;
}

.events-bottom-carousel {
  position: absolute;
  bottom: 30vh;
  height: 40vh;
  padding: 0px;
  width: 80vw;
  left: 10vw;
}

.event-card-wrapper {
  background-color: white;
  border-radius: 20px;
  padding: 3vh 1vw;
  margin-left: 5px;
}

.event-card-wrapper h1 {
  font-family: 'Lato', cursive !important;
}

.events-modal-content {
  max-height: 82vh;
  background-size: cover;
  width: 70vw;
  padding: 2vh;
  padding-bottom: 4vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 15vw;
}

.events-wrapper {
  height: 100vh;
  background-image: url('eventsbg.png');
}

.events-modal-heading {
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
  font-size: 6.5em;
  color: white;
}

.events-list-wrapper {
  height: 65vh;
  overflow-y: auto;
}

.events-modal-content ol {
  font-size: 2em;
  color: white;
}

.events-modal-content li h1 {
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
  font-size: 2.5em;
  margin-bottom: 0px;
}

.events-modal-content p {
  font-size: 0.8em;
  color: white;
}

.events-heading {
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
  color: white;
  text-align: center;
  padding-top: 8vh;
  font-size: 8em;
  margin-top: 0px;
}

.register-link{
  margin-top: 10px;
  margin-left: 28vw;
}

#events-0 .events-modal-content {
  background-image: url('dancebg.png');
}

#events-1 .events-modal-content {
  background-image: url('musicbg.png');
}

#events-2 .events-modal-content {
  background-image: url('litbg.png');
}

#events-3 .events-modal-content {
  background-image: url('bizbg.png');
}

#events-4 .events-modal-content {
  background-image: url('fineartsbg.png');
}

#events-5 .events-modal-content {
  background-image: url('hautebg.png');
}

#events-6 .events-modal-content {
  background-image: url('sportsbg.png');
}

#events-7 .events-modal-content {
  background-image: url('beachbg.jpg');
}

#events-8 .events-modal-content {
  background-image: url('multicitybg.png');
}

#events-9 .events-modal-content {
  background-image: url('techobytebg.jpg');
}

@media only screen and (max-width: 600px) {
  .events-bottom-carousel {
    width: 90vw;
    left: 5vw;
  }

  .event-card-wrapper {
    margin: 0px;
  }

  .event-category-img {
    height: 30vh;
  }

  .w3-modal-content {
    width: 90vw !important;
  }

  .events-modal-content {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 5vw;
    width: 90vw;
    height: 90vh;
  }

  .events-modal-content li h1 {
    font-size: 1.5em;
  }

  .events-modal-content p {
    font-size: 0.6em;
  }

  .events-list-wrapper {
    height: 75vh;
  }

  .events-modal-heading {
    font-size: 3.5em;
  }

  .register-link{
    margin-top: 10px;
    margin-left: 27vw;
  }
}
