.App-logo {
  height: 45vmin;
  pointer-events: none;
}

#Layer_2_Applogo {
  transform-origin: 51% 51%;
  animation: rotation linear 7s infinite;
}

@keyframes rotation {
  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
