@font-face {
  font-family: 'YouthTouchDEMO-Regular';
  src: url(../static/youthtouch.ttf);
}

.proshows-bottom-carousel {
  position: absolute;
  bottom: 40vh;
  height: 40vh;
  padding: 0px;
  width: 80vw;
  left: 10vw;
}

.proshows-card-wrapper {
  border-radius: 20px;
  padding: 3vh 1vw;
  margin-left: 5px;
  min-height: 75vh;
  /* border: solid 2px red; */
  perspective: 1000px;
  overflow: hidden;
}

.proshows-card-wrapper h1 {
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
  font-size: 6.5em;
}

.proshows-modal-content {
  max-height: 82vh;
  background-size: cover;
  width: 70vw;
  padding: 2vh;
  padding-bottom: 4vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 15vw;
  overflow: hidden;
}

.proshows-wrapper {
  height: 100vh;
  background-image: url('eventsbg.jpg');
  overflow: hidden !important;
}

.proshows-modal-heading {
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
  font-size: 6.5em;
  color: white;
}

.proshows-modal-wrapper {
  font-size: 0.8em;
  color: white;
}

.proshows-heading {
  font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
  color: white;
  text-align: center;
  padding-top: 3vh;
  font-size: 8em;
  margin-top: 0px;
}

.register_eve{
  position: absolute;
  top: 67vh;
  left: 32vw;
  width: 12vw;
  border-radius: 10vw;
  color:white;
  font-weight: bold;
  background-color:#34aa23;
  border: solid 2px #34aa23;
  height: 7vh;
  padding-top: 1.3vh;
  cursor: pointer;
  z-index: 10000;
}

.register_eve:hover{
  background-color: white;
  color: #34aa23;
  border: solid 2px white;
}

.material-icons{
  color: white !important;
}

/* .proshows-card-wrapper:nth-child(1) {
  background-color: black;
}

.proshows-card-wrapper:nth-child(2) {
  background-color: transparent;
}

.proshows-card-wrapper:nth-child(3) {
  background-color: transparent;
}

.proshows-card-wrapper:nth-child(4) {
  background-color: transparent;
} */

#aakash-gupta{
  position: relative;
  top: 0vh;
  left: -2vw;
  height: 60vh; 
  z-index: 10000;
}

#comedy-night{
  position: absolute;
  top:0vh;
  left: 0vw;
  width: 13vw;
  height: 25vh;
  border-radius: 50%;
}

#blur-1{
  position: absolute;
  top:34vh;
  left: 20vw;
  z-index: 10000;
}

#blur-2{
  position: absolute;
  top:5vh;
  left: 0vw;
  width: 1000px;
}

#aakash-1{
  position: absolute;
  top:47vh;
  left: 48vw;
  width: 23vw;
  height: 23vh;
  z-index: 10000;
}

#tb1{
  position: absolute;
  top:6vh;
  left:0;
  width:39vw;
  height: 45vh;
  z-index: 1000;
}

#tb2{
  position: absolute;
  top:8vh;
  left:36vw;
  width:41vw;
  height: 49vh;
  z-index: 1000;
}

#tb3{
  position: absolute;
  top:29vh;
  left:29vw;
  width:23vw;
  height: 45vh;
  z-index: 1010;
}

#tblogo{
  position: absolute;
  top:46vh;
  left:57vw;
  height: 25vh;
}

#tbemblem{
  position: absolute;
  top:0;
  left:29.5vw;
  height: 35vh;
  z-index:100;
}

#fusion-night{
  width: 25vw;
  position: absolute;
  top:51vh;
  left: 4vw;
  transform: rotateY(50deg) !important;
}

#output{
  border: solid 2px red;
  color: white;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .proshows-bottom-carousel {
    width: 90vw;
    left: 5vw;
  }

  .proshows-card-wrapper {
    margin: 0px;
  }

  .proshows-heading {
    font-family: YouthTouchDEMO-Regular, Youth Touch DEMO;
    color: white;
    text-align: center;
    padding-top: 10vh;
    font-size: 8em;
    margin-top: 0px;
  }

  .w3-modal-content {
    width: 90vw !important;
  }

  .proshows-modal-content {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 5vw;
    width: 90vw;
    height: 90vh;
  }

  .proshows-modal-wrapper {
    font-size: 0.6em;
  }

  .proshows-modal-heading {
    font-size: 3.5em;
  }

  #aakash-gupta{
    position: absolute;
    top: 15vh;
    left: -10vw;
    height: 42vh; 
    z-index: 10000;
  }

  #comedy-night{
    position: absolute;
    top:8vh;
    left: 0vw;
    width: 28vw;
    height: 13vh;
    border-radius: 50%;
  }

  #blur-1{
    position: absolute;
    top:34vh;
    left: 20vw;
    z-index: 10000;
  }

  #blur-2{
    position: absolute;
    top:5vh;
    left: 0vw;
    width: 1000px;
  }

  #aakash-1{
    position: absolute;
    top:57vh;
    left: 18vw;
    width: 47vw;
    height: 12vh;
  }

  #tb1{
    position: absolute;
    top:18vh;
    left:-6vw;
    width:90vw;
    height: 33vh;
    z-index: 1000;
  }
  
  #tb2{
    position: absolute;
    top:34vh;
    left:-6vw;
    width:90vw;
    height: 31vh;
    z-index: 1000;
  }
  
  #tb3{
    position: absolute;
    top:48vh;
    left:22vw;
    width:44vw;
    height: 24vh;
    z-index: 1010;
  }
  
  #tblogo{
    position: absolute;
    top:11vh;
    left:52vw;
    height: 13vh;
    z-index: 110;
  }
  
  #tbemblem{
    position: absolute;
    top:7vh;
    width:30vw;
    left:25vw;
    height: 20vh;
    z-index:100;
  }
  
  #fusion-night{
    width: 45vw;
    position: absolute;
    top:13vh;
    left: -3vw;
    transform: rotateY(50deg) !important;
    z-index: 110;
  }

  .register_eve{
    position: absolute;
    top: 67vh;
    left: 30vw;
    width: 22vw;
    border-radius: 10vw;
    color:white;
    font-weight: bold;
    background-color:#34aa23;
    border: solid 2px #34aa23;
    height: 7vh;
    padding-top: 1.9vh;
    cursor: pointer;
    z-index: 10000;
  }
  
  .register_eve:hover{
    background-color: white;
    color: #34aa23;
    border: solid 2px white;
  }
  
}