@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');

.w3-card {
  z-index: 9999;
  font-weight:bold;
  font-size: 20px;
  animation-name: showmenu;
  animation-duration: 1.4s;
  overflow: hidden;
  width: 30vw;
  background-color: #0E1327;
  color: white;
  font-family: 'Kelly Slab', cursive;
}

@keyframes showmenu{
  from{
    height: 0vh;
  }
  to{
    height: 100vh;
  }
}

@keyframes closemenu{
  from{
    height: 100vh;
  }
  to{
    height: 0vh;
  }
}

.w3-bar-item{
  height: 6vh !important;
}

.w3-bar-item:hover{
  color: white !important;
}

.w3-button{
  background-color: transparent;
  padding: 12px !important;
}

.w3-button:hover{
  background-color: transparent !important;
}

.purpleLogo{
  width: 7vw;
  margin-left: 10vw;
  border-radius: 50%;
  padding-top: 2vh;
}


@media only screen and (max-width: 600px){
  .w3-card{
    width:60vw;
    color:white;
  }

  .purpleLogo{
    width: 20vw;
    margin-left: 20vw;
    border-radius: 50%;
  }

  .w3-bar-item {
    color: white;
  }
}
